.header{
    display: flex;
    justify-content: space-between;

    .header__menu{
      margin-left: 1600px;
      justify-content: space-between;
      display: flex;
      gap: 10px;
    }
}
.header__wrapper{

 

}

